/* <?php ?> */

/* * IMPORTANDO O RESET PARA O CSS */
@import url("../css/reset.css");

/* * APLICANDO ESTILO UNICO PARA O CORPO DO SITE */
body, html
{
    width: 100%;
    scroll-behavior: smooth;    
}

a
{
    text-decoration: none;
    font-family: arial;
}

.corpo
{
    width: 100%;
    float: left;
    padding:0px 1px 0px 1px;    
    text-align: center;
}

.topo
{
    background-color: rgb(0, 0, 0);
    height: 60px;
    /* position: fixed;      */
}

img
{
    max-width: 100%;
}

/* * LOGO */
.logo-home
{
    position: fixed;    
    background-color: transparent;    
    width: 12vh;
    height: 12vh;
    display: block;
    padding-left: 3px;
    padding-top: 3px;
}

.btn-login
{
    position: fixed;    
    width: 30px;
    height: 30px;
    left: 97%;
    display: block;
    bottom: 95.5%;
} 

.btn-login a
{
    color:white;
    width: 30px;
    height: 30px;
    font-size: 2em;
}

/* ============================================================================================================================================= */

/* * Menu */
#menu
{
    height: 50px;    
    /* background-color:rgb(58, 58, 58); */
    width: 100%;
    padding-top: 1px; 
    padding-bottom: 1px;
}

#menu ul 
{    
    padding-top: 2vh;
    padding-left: 13vh;    
    margin:0px;
    float: right;       
    list-style:none;
    font:100% arial; 
    position: fixed;   
}

#menu ul li { display: inline;}
 
#menu ul li a 
{
    /* background-color:#EDEDED; */
	color: white;
	text-decoration: none;
    /* border-bottom:3px solid #EDEDED; */
	padding: 2px 30px;
    float:center;
    font-weight: bold;
}
 
#menu ul li a:hover 
{
    /* background-color:rgb(58, 58, 58); */
	color: rgb(255, 255, 255);
    border-bottom:3px solid #ffb000;
}

    /* ============================================================================================================================================= */

    /* Imagens de cada conteúdo */

    /* Primeiro - Início */
    .primeira{background-image: url(../img/truck.jpg);height: 100vh;}

    /* Segundo - Quem somos */
    .segunda{background-image: url(../img/truck2.jpg);height: 80vh;}

    /* Terceiro - Serviços */
    .terceira{background-image: url(../img/fundo.jpg);height: 80vh;}

    /* Quarto - Planos */
    .quarta{background-image: url(../img/web.jpg);height: 80vh;}

    /* Quinto - Localização */
    .quinta{background-image: url(../img/contact.jpg);height: 80vh;}

    /* Sexto - Contato */
    .sexta{background-image: url(../img/contact.jpg);height: 80vh;}

    /* Conteúdos */

    /* Primeiro - Inicio */
    .conteudo1{background: rgb(43, 79, 144); height: 35vh; text-align: center;font-weight: 100;}

    /* Segundo - Quem somos */
    .conteudo2{background: rgb(83, 107, 184); height: 35vh;}

     /* Terceiro - Serviços  */
    .conteudo3{background: rgb(155, 69, 69); height: 85vh; }

    /* Quarto - Planos */
    .conteudo4{background: rgb(150, 95, 200); height: 85vh;}

    /* Quinto -Localização */
    .conteudo5{background: rgb(39, 39, 39); height: 50vh;}

    /* Sexto - Contato */
    .conteudo6{background: rgb(39, 39, 39); height: 55vh;}

    /* ============================================================================================================================================= */

    /* Criando efeito parallax */
    .parallax
    {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* ============================================================================================================================================= */

    /* JavaScript */    
    @media only screen and (max-device-width: 1024px)
    {
        .parallax
        {
            background-attachment: scroll;
        }
    }

    /* ============================================================================================================================================= */

    /* Sub-textos */

    .eltexto p{text-align: center; font-size: 32px; color: white; height: 30%; font-family: Arial; padding: 7%; font-weight: bold;}

    /* TXT */

    .eltitulo h1{text-align: center; font-size: 80px; color: white; height: 40%; font-family: Helvetica; padding: 17%; font-weight: bold;}   
        
    /* ============================================================================================================================================= */

    /* Rodapé */
    .copyright {color: #fff; margin-top: 2%;font-weight: bold;font-family: Arial, Helvetica, sans-serif;font-size: 15px;}
    .adm {color: #fff; margin-top: 2%;font-weight: bold; opacity: 60%; font-family: arial; font-size: 14px; opacity: 30%;}

    /* Radius */
    .radius{border-radius: 7px;}

    /* Container */
    .container 
    {
        width: 92%;
        float: left;
        padding: 3% 4%;
        text-align: center;
    }

    /* BG Gradient */
    .bg-gradient{background: linear-gradient(to right,rgb(0, 0, 0), #000)}
    .bg-black {background: #130400;}
    .bg-white{background: #fff}

   
    /* ============================================================================================================================================= */

    /* Blocos - Serviços */

    .servicos
    {
        padding: 2% 4%;
    }

    .servico
    {
        width: 100%;
        text-align: left;
        margin-bottom: 3%;
    }

    .quadrados
    {
        float: left;
        padding: 3% 4%;
        width: 100%;
    }

    .quadrado
    {
        width: 100%;
        text-align: left;
        margin-bottom: 3%;        
    }


    .quadrado img
    {
        border-radius: 30px;
    }

    .quadrado img:hover
    {
        border-radius: 30px;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);    
    }

    /*  Blocos de serviços - Texto */
    /* .subtxt{padding-top: 35px; font-size: 24px; color:white; font-family: Arial, Helvetica, sans-serif; font-weight: bold;} */

    /* ============================================================================================================================================= */


    /* Contato */

    .formulario
    {
        width: 60%;
        padding-left: 20%;
        padding: 2%;
    }

    /* Centralizando o formulário no meio */
     form 
    {
        margin: 0 auto;
        width: 400px;   
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
    }

    /*Espaçamento entre os formulários*/
    form div + div 
    {
        margin-top: 0.8em;  
    }

    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    label 
    {
        display: inline-block;
        width: 90px;
        text-align: center;
    }

    input, textarea 
    {
        /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
        font: 1.3em arial;

        /* Para dar o mesmo tamanho a todos os campo de texto */
        width: 800px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        /* Para harmonizar o look & feel das bordas nos campos de texto*/
        border: 3px solid #999;
    }

    textarea 
    {
        /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
        vertical-align: top;

        /* Para dar espaço suficiente para digitar algum texto */
        height: 5em;

        /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
        resize: vertical;
    }

    .button {
        /* Para posicionar os botões para a mesma posição dos campos de texto */
        padding-left: 100px; /* mesmo tamanho que os elementos do tipo label */
    }
    button 
    {
        /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
        margin-left: 5em;
    }

/* ============================================================================================================================================= */

/* ! USANDO MEDIA QUERY NO SITE */

/* * DISPOSITIVOS DE 1920px DE LARGURA */

@media screen and (min-width:1920px)
{   

}

/* * DISPOSITIVOS DE 1280px DE LARGURA */

@media screen and (min-width:1280px)
{
    
}

/* * DISPOSITIVOS DE 960px DE LARGURA */

@media screen and (min-width:960px)
{
    
}

/* * DISPOSITIVOS DE 768px DE LARGURA */

@media screen and (min-width:768px)
{
   
}

/* * DISPOSITIVOS DE 480px DE LARGURA */

@media screen and (min-width:480px)
{
   
}


