/* ! Formulário de Login */

body
{
    background-color: #2c3338;
}

.txt-form
{
    text-align: left;
    font-size: 1.3em;
}

.radius
{
    border-radius: 15px;
}

.btn-form
{
    width: 120px;
    height: px;
    background-color: #ffb000;
}

#box-login
{
    background-color: aqua;
    margin: 25% 36% 5% 36%;
}

#formulario-login
{
    margin: 1px 1px 1px 1px;
}